body {
    font-family: Arial, sans-serif;
    background-image: url(background.jpg); /* Warna biru muda */
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: #f5f5dc; /* Warna krem untuk kontainer */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.lyrics {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}
